<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
 * @category   Magenerds
 * @package    Magenerds_WishlistNotification
 * @subpackage etc
 * @author     Florian Sydekum <f.sydekum@techdivision.com>
 * @copyright  Copyright (c) 2016 TechDivision GmbH (http://www.techdivision.com)
 * @version    ${release.version}
 * @link       http://www.techdivision.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
<acl>
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::marketing">
                <resource id="Magento_Backend::marketing_user_content">
                    <resource id="Magenerds_WishlistNotification::wishlist_notification" title="Wishlist Notification" sortOrder="10" >
                        <resource id="Magenerds_WishlistNotification::index" title="Show Grid Wishlist Notification" sortOrder="10" />
                        <resource id="Magenerds_WishlistNotification::edit" title="Edit Wishlist Notification" sortOrder="20" />
                        <resource id="Magenerds_WishlistNotification::save" title="Save Wishlist Notification" sortOrder="30" />
                        <resource id="Magenerds_WishlistNotification::delete" title="Delete Wishlist Notification" sortOrder="40" />
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
</config>